<h1>Course listing</h1>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro to Computer Science and Tainha (Mullet)</li>
  <li>Description: A thorough intro to Computer Science</li>
</ul>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro to Computer Science and Oysters</li>
  <li>Description: A thorough intro to Computer Science</li>
</ul>
